#headest {
  margin-top: 80px;
}

#headest a,
#headest i {
  color: #aeaca7;
}

#headest img {
  width: 100%;
}

#headest #exzoom {
  width: 100%;
}

#headest .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#headest .old_price {
  font-size: 20px;
  font-weight: 600;
  text-decoration: line-through;
  color: #d3d1cf;
  padding-right: 15px;
}

#headest .new_price {
  font-size: 25px;
  font-weight: 800;
}

#headest .colors h5 {
  display: inline-block;
  margin: 27px 0 30px;
}

#headest .colors a:nth-of-type(1) {
  background: #6085a5;
  padding: 1px 5px;
  margin: 2px;
}

#headest .colors a:nth-of-type(1) i {
  color: white;
}

#headest .colors a:nth-of-type(2) {
  background: #ab6e6e;
  padding: 1px 12px;
  margin: 2px;
}

#headest .colors a:nth-of-type(3) {
  background: #b19970;
  padding: 1px 12px;
  margin: 2px;
}

#headest .colors a:nth-of-type(4) {
  background: #11426b;
  padding: 1px 12px;
  margin: 2px;
}

#headest .add_to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#headest .add_to .add_and_remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#headest .add_to .add_and_remove a,
#headest .add_to .add_and_remove input {
  border: 1px solid #dfdedc;
  width: 40px;
  text-align: center;
  margin-bottom: 0;
}

#headest .add_to .add_and_remove .plus,
#headest .add_to .add_and_remove .minus {
  background-color: rgba(0, 0, 0, 0.7);
}

#headest .add_to .add_and_remove .plus:hover,
#headest .add_to .add_and_remove .minus:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

#headest .add_to .add_and_remove .plus i,
#headest .add_to .add_and_remove .minus i {
  color: white;
}

#headest .add_to button {
  padding: 5px 10px;
  background: white;
  border: 1px solid #dfdedc;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#headest .add_to button:hover {
  color: white;
  background: black;
}

#headest .add_to .add__to__wishlist i,
#headest .add_to .add__to__compare i {
  padding: 10px;
  border: 1px solid #dfdedc;
  color: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#headest .add_to .add__to__wishlist i:hover, #headest .add_to .add__to__wishlist i:focus-within,
#headest .add_to .add__to__compare i:hover,
#headest .add_to .add__to__compare i:focus-within {
  color: white;
  background: black;
}

#headest .share {
  padding: 30px 0;
}

#headest .share h5 {
  display: inline-block;
}

#headest .share a {
  background: #161616;
  padding: 7px 11px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#headest .share a i {
  color: #fff;
}

#headest .share a:hover {
  background: white;
  border: 1px solid #161616;
}

#headest .share a:hover i {
  color: #161616;
}

#headest .logo__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: -webkit-right;
}

#headest .voreed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#headest .voreed i {
  padding-right: 35px;
  font-size: 30px;
  color: #4c4c4c;
}

#headest .voreed p {
  font-size: 14px;
  font-weight: 700;
  font-family: sans-serif;
}

#headest .banner {
  position: relative;
}

#headest .banner:hover::after {
  opacity: 1;
}

#headest .banner::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#main {
  color: #96938c;
}

#main .nav-link {
  color: black;
  font-weight: 700;
}

#main h3,
#main h5 {
  color: black;
}

#main #myTabContent {
  padding: 40px 0;
}

#main .text {
  padding: 9px 50px;
  margin-bottom: 20px;
  border-color: #dfdedc;
}

#main button {
  padding: 9px 25px;
  margin-left: 10px;
  border-radius: 0;
  background: black;
}

#main ul li i {
  color: black;
  padding: 5px 10px;
  font-size: 12px;
}

#main .swiper-container_2 {
  width: 100%;
  overflow: hidden;
}

#main .swiper-slide {
  font-size: 18px;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main .product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main .product__container:hover a::after {
  opacity: 1;
}

#main .product__container a {
  position: relative;
  width: 80px;
  height: 70px;
}

#main .product__container a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#main .product__container i {
  font-size: 11px;
  cursor: pointer;
}

#main .product__container p {
  margin-bottom: 0;
  color: #aeaca7 !important;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#main .product__container p:hover {
  color: black !important;
}

#main .product__container h4 {
  font-size: 18px;
  height: 10%;
}

#main .swiper-button-prev:after,
#main .swiper-button-next:after {
  font-size: 15px;
  color: black;
}

#main .swiper-button-next,
#main .swiper-button-prev {
  top: 42px;
}

#main .swiper-button-prev {
  left: 220px;
}

#main h6 {
  color: black;
  font-size: 14px;
  margin-bottom: 0;
  padding: 35px 0 20px;
}

#main .radio {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

#main #reviews th,
#main #reviews td {
  padding: 10px;
}

#main #reviews label {
  color: black;
}

#main #reviews .lg_iput {
  padding: 5rem;
}

#featured__products {
  background: #dfdedc !important;
  height: 100vh !important;
}

#featured__products .swiper-container_3 {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#featured__products .swiper-pagination {
  position: absolute !important;
}

#featured__products .swiper-pagination-bullet {
  width: 15px;
  background: black !important;
  height: 15px;
}

#featured__products .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  overflow: hidden;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#featured__products .swiper-container-horizontal > .swiper-pagination-bullets,
#featured__products .swiper-pagination-custom,
#featured__products .swiper-pagination-fraction {
  bottom: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.scrolltop {
  padding: 10px 13px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  right: 10px;
  bottom: 0;
  color: white;
  border-radius: 6px 6px 0 0;
  opacity: 0;
  z-index: 11111;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.scrolltop:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
}

.scrolltop.active {
  opacity: 1;
}

#home {
  background: #dfdedc;
  overflow: hidden;
}

#home .ournav {
  padding: 1rem 4.5rem 0;
  position: fixed;
  z-index: 111111111111;
  width: 100%;
  background-color: #dfdedc !important;
}

#home .ournav .nav-link {
  color: #161616;
  font-size: 12px;
  letter-spacing: -1px;
  font-weight: 500;
  padding-left: 1.5rem;
}

#home .fa-phone {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#home .home__content {
  background: url(../imgs/bg-1.jpg);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 580px;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 5rem;
  margin-top: 75px;
}

#home .home__content .home__text {
  padding: 6rem 9rem;
  position: relative;
  text-align: right;
}

#home .home__content .home__text::before {
  content: "";
  position: absolute;
  width: 10.5rem;
  height: 0.5rem;
  background: #161616;
  right: 20%;
  top: 5.5%;
}

#home .home__content .home__text h1,
#home .home__content .home__text h2 {
  padding: 0 3rem;
  color: #161616;
}

#home .home__content .home__text h1 {
  font-size: 4rem;
  font-weight: 800;
  font-family: "Metal Mania", cursive;
  position: relative;
}

#home .home__content .home__text h1::after {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 4.1rem;
  background: #161616;
  right: 37%;
  bottom: 97%;
}

#home .home__content .home__text h2 {
  font-weight: 400;
  font-size: 5rem;
}

#home .home__content .home__text button {
  padding: 1.2rem 2rem;
  position: relative;
  background-color: #161616;
}

#home .home__content .home__text button:hover {
  opacity: 0.9;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#home .home__content .home__text button::after {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 20rem;
  bottom: -1px;
  background: #161616;
  right: -1px;
}

#home .fa-angle-double-down {
  position: absolute;
  top: -27px;
  font-size: 14px;
  color: white;
  left: 102px;
}

#home .features,
#home .categories,
#home .products,
#home .pages,
#home .links,
#home .usd,
#home .eng,
#home .shop {
  position: absolute;
  background: white;
  z-index: 10000;
  display: none;
  -webkit-box-shadow: 8px 8px 50px 0px #cccac8;
          box-shadow: 8px 8px 50px 0px #cccac8;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#home ul li:nth-child(2):hover .categories {
  display: block;
}

#home .arrow {
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  top: -10px;
  left: 27px;
  width: 20px;
  height: 20px;
  z-index: -1;
  background: white;
}

#home .categories {
  max-width: 550px;
  max-height: 450px;
  top: 21px;
  padding-top: 15px;
  margin-top: 43px;
  padding-bottom: 5px;
}

#home .categories::before {
  content: "";
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#home .categories span {
  -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  background-color: #58ec58;
  font-size: 15px;
  padding: 2px 5px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 27px;
  font-size: 10px;
}

#home .categories ul span {
  -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  background-color: red;
  font-size: 15px;
  padding: 2px 5px;
  color: #fff;
  position: absolute;
  top: 27px;
  right: -1px;
  font-size: 9px;
}

#home img {
  width: 100%;
  height: 100%;
}

#home li {
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 5px;
  padding: 2px 4px;
  line-height: 17px;
  cursor: pointer;
}

#home li:hover {
  background-color: #dfdedc;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#home ul li:nth-child(3):hover .products {
  display: block;
}

#home .products {
  right: 0;
  top: 21px;
  padding-top: 15px;
  margin-top: 43px;
  padding-bottom: 5px;
}

#home .products .arrow {
  left: 170px;
}

#home .products ul span {
  padding: 5px;
  background: #d06c6b;
  border-radius: 50%;
  -webkit-box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

#home ul li:nth-child(4):hover .pages {
  display: block;
}

#home .pages {
  padding: 3px;
}

#home .pages li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home .pages li:hover ul {
  display: block;
}

#home .pages li i {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  color: #161616;
}

#home .pages li ul {
  position: absolute;
  z-index: 555555;
  top: 0;
  left: 114px;
  width: 140px;
  background: white;
  padding: 3px 4px 0;
  -webkit-box-shadow: 8px 8px 50px 0px #cccac8;
          box-shadow: 8px 8px 50px 0px #cccac8;
  display: none;
}

#home ul li:nth-child(5):hover .features {
  display: block;
}

#home .features {
  position: absolute;
  background: white;
  right: 425px;
  padding: 10px;
}

#home .features ul {
  padding: 5px 10px 10px 2px;
}

#home .features ul li {
  padding: 8px 12px;
}

#home ul li:nth-child(7):hover .links {
  display: block;
}

#home .links ul {
  padding: 3px 0;
}

#home .links ul li {
  padding: 5px 15px;
}

#home .links ul li:hover {
  color: white;
}

#home ul li:nth-child(8):hover .usd {
  display: block;
}

#home .usd {
  right: 225px;
}

#home .usd ul {
  padding: 3px 0;
}

#home .usd ul li:hover {
  color: white;
}

#home .usd .arrow {
  left: 5px;
}

#home ul li:nth-child(9):hover .eng {
  display: block;
}

#home .eng {
  right: 155px;
}

#home .eng ul {
  padding: 3px 0;
}

#home .eng ul li:hover {
  color: white;
}

#home .eng .arrow {
  left: 4px;
}

#home svg + span {
  background: #f15478;
  padding: 2px 5px;
  border-radius: 50%;
  position: absolute;
  right: 89px;
  top: 21px;
}

#home ul li:nth-child(10):hover .shop {
  display: block;
}

#home .shop {
  right: 60px;
  cursor: default;
}

#home .shop .col-6 {
  padding: 10px;
}

#home .shop .col-6 p,
#home .shop .col-6 a {
  padding-bottom: 12px;
  color: #161616;
}

#home .shop .arrow {
  top: -16px;
  left: 220px;
}

#home .shop .close {
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px 2px;
  -webkit-box-shadow: -5px 4px 9px 1px #dfdedc;
          box-shadow: -5px 4px 9px 1px #dfdedc;
  position: absolute;
  top: 0;
  background: white;
  cursor: pointer;
}

#home .shop .close ~ .close {
  top: 30%;
}

#home .shop img {
  width: 40px;
  height: 40px;
  border: 1px solid #dfdedc;
  margin-bottom: 7px;
}

.nav__scroll {
  padding-top: 7px !important;
  -webkit-box-shadow: 10px 5px 5px #290dc530;
          box-shadow: 10px 5px 5px #290dc530;
}

.nav__scroll .navbar-brand img {
  width: 60px !important;
}

#clothes, #glasses,
#featured__products {
  background: url("../imgs/bg-2.jpg");
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 120vh;
}

#clothes .clothes__text, #glasses .clothes__text, #clothes .glasses__text, #glasses .glasses__text,
#featured__products .clothes__text,
#featured__products .glasses__text {
  text-align: end;
  padding: 8rem 6rem;
}

#clothes .clothes__text h4, #glasses .clothes__text h4, #clothes .glasses__text h4, #glasses .glasses__text h4,
#featured__products .clothes__text h4,
#featured__products .glasses__text h4 {
  text-align: center;
  padding-left: 15.2rem;
  font-weight: 400;
  margin-bottom: 0;
}

#clothes .clothes__text h1, #glasses .clothes__text h1, #clothes .glasses__text h1, #glasses .glasses__text h1,
#featured__products .clothes__text h1,
#featured__products .glasses__text h1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 3rem;
}

#clothes .clothes__text button, #glasses .clothes__text button, #clothes .glasses__text button, #glasses .glasses__text button,
#featured__products .clothes__text button,
#featured__products .glasses__text button {
  padding: 12px 15px;
  background-color: #161616;
  margin-bottom: 20px;
}

#clothes .clothes__text button:hover, #glasses .clothes__text button:hover, #clothes .glasses__text button:hover, #glasses .glasses__text button:hover,
#featured__products .clothes__text button:hover,
#featured__products .glasses__text button:hover {
  opacity: 0.8;
}

#clothes .swiper-container .swiper-button-next, #glasses .swiper-container .swiper-button-next,
#clothes .swiper-container .swiper-button-prev,
#glasses .swiper-container .swiper-button-prev,
#featured__products .swiper-container .swiper-button-next,
#featured__products .swiper-container .swiper-button-prev {
  font-size: 25px;
  color: #161616;
}

#clothes .swiper-slide, #glasses .swiper-slide,
#featured__products .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#clothes .card, #glasses .card,
#featured__products .card {
  border: none;
}

#clothes .card i, #glasses .card i,
#featured__products .card i {
  font-size: 12px;
}

#clothes .card p, #glasses .card p,
#featured__products .card p {
  font-size: 15px;
  margin-bottom: 0;
}

#clothes .card p:hover, #glasses .card p:hover,
#featured__products .card p:hover {
  font-weight: 600;
  cursor: pointer;
}

#clothes .card .add__to, #glasses .card .add__to,
#featured__products .card .add__to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#clothes .card .add__to button, #glasses .card .add__to button,
#featured__products .card .add__to button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  font-size: 12px;
  padding: 10px;
  border: 1px solid #dfdedc;
}

#clothes .card .add__to i, #glasses .card .add__to i,
#featured__products .card .add__to i {
  border: 1px solid #dfdedc;
  padding: 10px;
  margin: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#clothes .card .add__to i:first-child, #glasses .card .add__to i:first-child,
#featured__products .card .add__to i:first-child {
  -webkit-transform-origin: right;
          transform-origin: right;
}

#clothes .card .over-lay, #glasses .card .over-lay,
#featured__products .card .over-lay {
  position: relative;
  width: 100%;
}

#clothes .card a::after, #glasses .card a::after,
#featured__products .card a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#clothes .card svg, #glasses .card svg,
#featured__products .card svg {
  margin: 2px;
}

#clothes .card:hover i, #glasses .card:hover i,
#featured__products .card:hover i {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#clothes .card:hover a::after, #glasses .card:hover a::after,
#featured__products .card:hover a::after {
  display: block;
  -webkit-box-shadow: 0px 16px 28px -22px rgba(30, 30, 60, 0.84);
          box-shadow: 0px 16px 28px -22px rgba(30, 30, 60, 0.84);
}

#clothes .card:hover button, #glasses .card:hover button,
#featured__products .card:hover button {
  background-color: #161616;
  color: white;
}

#clothes .swiper-button-next:after, #glasses .swiper-button-next:after,
#clothes .swiper-container-rtl .swiper-button-prev:after,
#glasses .swiper-container-rtl .swiper-button-prev:after,
#clothes .swiper-button-prev:after,
#glasses .swiper-button-prev:after,
#clothes .swiper-container-rtl .swiper-button-next:after,
#glasses .swiper-container-rtl .swiper-button-next:after,
#featured__products .swiper-button-next:after,
#featured__products .swiper-container-rtl .swiper-button-prev:after,
#featured__products .swiper-button-prev:after,
#featured__products .swiper-container-rtl .swiper-button-next:after {
  font-size: 20px;
}

#clothes .swiper-button-next, #glasses .swiper-button-next,
#featured__products .swiper-button-next {
  right: 0px;
}

#clothes .swiper-button-prev, #glasses .swiper-button-prev,
#featured__products .swiper-button-prev {
  left: 0px;
}

.sunglasses {
  background: url("../imgs/bg-3.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.glasses__text {
  text-align: start !important;
}

.glasses__text h4 {
  text-align: left !important;
  padding-left: 0 !important;
}

.connect__content {
  background: url(../imgs/bg-4.jpg);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 12rem;
}

.connect__content .connect__text {
  padding-top: 5rem;
}

.connect__content .connect__text h5 {
  margin-bottom: 0;
  font-weight: 400;
  position: relative;
}

.connect__content .connect__text h5::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 90px;
  background-color: black;
  bottom: 21px;
  left: 190px;
}

.connect__content .connect__text h2 {
  text-align: center;
  font-weight: 700;
  position: relative;
}

.connect__content .connect__text h2::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 7px;
  background: black;
  bottom: 198px;
  right: 0;
}

.connect__content .connect__text button {
  padding: 15px 20px;
  margin-left: 12rem;
  margin-top: 2rem;
  position: relative;
  background-color: black;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.connect__content .connect__text button:hover {
  opacity: .8;
}

.connect__content .connect__text button::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 300px;
  background: black;
  right: -2px;
  bottom: 0;
  border-radius: 5px;
}

#footer {
  background: rgba(0, 0, 0, 0.88);
  padding: 3rem 0;
}

#footer h5,
#footer h6 {
  color: white;
  margin-bottom: 0;
}

#footer h6 {
  display: inline-block;
}

#footer h5 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 8px;
}

#footer p,
#footer a {
  color: #d3d1cf;
  display: inline-block;
  font-size: 13px;
}

#footer a:hover {
  color: white;
}

#footer i {
  padding: 1rem;
  color: white;
}

#footer i:hover {
  border: 1px solid #dfdedc;
  padding: 10px;
  background: #161616;
}

#footer form {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
}

#footer form input:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 7px 10px;
}

#footer form input:nth-child(1):focus {
  outline: 0;
  -webkit-box-shadow: 100px 0px 20px -12px blue;
          box-shadow: 100px 0px 20px -12px blue;
}

#footer form .btn {
  background-color: black;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 7px 10px;
}

#footer .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pop-up {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 5555555555555555;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
}

.pop-up .pop-up-content {
  width: 500px;
  height: 250px;
  background: url("../imgs/newsletter_popup_bg.jpg");
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
}

.pop-up .pop-up-content button {
  padding: 7px 20px;
  margin: 15px;
  color: white;
  background-color: black;
  font-weight: 500;
  border-radius: 5px;
}

.pop-up .pop-up-content button:hover {
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  #home svg + span {
    right: 246px;
    top: 355px;
  }
  #home .home__content .home__text::before {
    display: none;
  }
  #home .home__content .home__text h1,
  #home .home__content .home__text h2 {
    font-size: 3rem;
  }
  #home .home__content .home__text h1::after,
  #home .home__content .home__text h2::after {
    display: none;
  }
  #home .home__content .home__text button::after {
    display: none;
  }
  #home .home__content {
    background-position-x: right;
    background-position-x: 65%;
    position: relative;
    padding-top: 2rem;
  }
  #home .home__content .home__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    padding: 0;
  }
  #home .home__content .home__text h1 {
    font-family: cursive;
    font-size: 4rem !important;
    padding: 0 1rem;
  }
  #home .home__content .home__text h2 {
    font-family: sans-serif;
    font-size: 2rem;
    padding: 0 1rem;
    font-weight: 600;
  }
  #home .home__content .home__text button {
    margin: 60px auto;
    background: transparent;
    font-size: 30px;
    border: 3px solid;
    color: black;
    font-weight: 700;
  }
  #home .home__content .navbar-brand {
    width: 40px;
  }
  #home .home__content .over-lay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(223, 222, 220, 0.4);
  }
  #home .navbar-brand img {
    width: 50px;
  }
  #home .ournav {
    padding: 3px 5px;
  }
  #home .ournav .nav-link {
    padding-left: 0;
  }
  #home .ournav .arrow {
    display: none;
  }
  #home .ournav .features,
  #home .ournav .categories,
  #home .ournav .products,
  #home .ournav .pages,
  #home .ournav .links,
  #home .ournav .usd,
  #home .ournav .eng,
  #home .ournav .shop {
    position: initial;
  }
  #home .ournav .categories {
    margin-top: 0;
  }
  #home .ournav .categories span {
    right: -6px;
  }
  #home .ournav .categories img {
    display: none;
  }
  #home .ournav .products {
    margin-top: 0;
  }
  #home .ournav .products h6 {
    font-size: 25px;
  }
  #home .ournav .products li {
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 7px;
  }
  #home .ournav svg {
    position: relative;
  }
  #home .ournav .shop {
    position: absolute;
    top: 416px;
    right: 105px;
  }
  #home .ournav .shop a {
    color: #161616;
  }
  #home .ournav .shop img {
    width: 30px;
    height: 30px;
  }
  #home .ournav .shop span {
    display: none;
  }
  #home .ournav .shop p,
  #home .ournav .shop a {
    font-size: 10px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 12px;
  }
  #home .ournav .shop hr {
    margin: 10px 0 3px;
  }
  #home .ournav .shop button {
    padding: 3px 5px;
    font-size: 11px;
  }
  #home .ournav .shop h6 {
    font-size: 13px;
  }
  #home .ournav svg + span {
    display: none;
  }
  #home .ournav svg {
    position: relative;
  }
  #clothes .clothes__text, #glasses .clothes__text, #clothes .glasses__text, #glasses .glasses__text {
    text-align: left;
    padding: 6rem 0;
  }
  #clothes .clothes__text h4, #glasses .clothes__text h4, #clothes .glasses__text h4, #glasses .glasses__text h4 {
    text-align: left;
    padding-left: 0;
  }
  #clothes .clothes__text h1, #glasses .clothes__text h1, #clothes .glasses__text h1, #glasses .glasses__text h1 {
    padding-left: 0;
    font-size: 33px;
  }
  #clothes .clothes__text button, #glasses .clothes__text button, #clothes .glasses__text button, #glasses .glasses__text button {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #clothes .swiper-button-next, #glasses .swiper-button-next {
    right: 10px;
  }
  #clothes .swiper-button-prev, #glasses .swiper-button-prev {
    left: 10px;
  }
  .connect__content {
    padding: 0;
    background-position-x: -357px;
    text-align: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 5rem;
    position: relative;
    padding-right: 15px;
  }
  .connect__content .connect__text {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
  }
  .connect__content .connect__text h1, .connect__content .connect__text h2 {
    color: #FFEB3B;
  }
  .connect__content .connect__text button {
    margin: 0 auto;
    background: transparent;
    font-size: 30px;
    border: 3px solid #FFEB3B;
    color: white;
    font-weight: 700;
  }
  .connect__content .over-lay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  .connect__content h5::before,
  .connect__content h2::after,
  .connect__content button::after {
    display: none;
  }
  #clothes, #glasses {
    background-position-x: -225px;
  }
  .sunglasses {
    background-position-x: 850px !important;
    background-position-y: -50px !important;
  }
  .newsletter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
  }
  .newsletter h6 {
    margin-bottom: 8px !important;
  }
  .pop-up .pop-up-content {
    width: 350px;
    height: 200px;
    padding: 10px;
    font-size: 13px;
  }
}
