$primary-color: #161616;
$secondary-color: #dfdedc;
@mixin easeInOut {
  transition: all 0.5s ease-in-out;
}
// start to style headest section
#headest {
  margin-top: 80px;
  a,
  i {
    color: darken($secondary-color, 20);
  }

  img {
    width: 100%;
  }

  #exzoom {
    width: 100%;
  }
  .price {
    display: flex;
    align-items: center;
  }
  .old_price {
    font-size: 20px;
    font-weight: 600;
    text-decoration: line-through;
    color: darken($secondary-color, 5);
    padding-right: 15px;
  }
  .new_price {
    font-size: 25px;
    font-weight: 800;
  }
  .colors {
    h5 {
      display: inline-block;
      margin: 27px 0 30px;
    }
    a:nth-of-type(1) {
      background: #6085a5;
      padding: 1px 5px;
      margin: 2px;
      i {
        color: white;
      }
    }
    a:nth-of-type(2) {
      background: #ab6e6e;
      padding: 1px 12px;
      margin: 2px;
    }
    a:nth-of-type(3) {
      background: #b19970;
      padding: 1px 12px;
      margin: 2px;
    }
    a:nth-of-type(4) {
      background: #11426b;
      padding: 1px 12px;
      margin: 2px;
    }
  }
  .add_to {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .add_and_remove {
      // border: 1px solid $secondary-color;
      display: flex;
      a,
      input {
        border: 1px solid $secondary-color;
        // padding: 3px 13px;
        width: 40px;
        text-align: center;
        margin-bottom: 0;
      }
      .plus,
      .minus {
        background-color: rgba(0, 0, 0, 0.7);
        &:hover {
        background-color: rgba(0, 0, 0, 0.9);
        }
        i {
          color: white;
        }
      }
    }
    button {
      padding: 5px 10px;
      background: white;
      border: 1px solid $secondary-color;
      @include easeInOut();
      &:hover {
        color: white;
        background: black;
      }
    }
    .add__to__wishlist i,
    .add__to__compare i {
      padding: 10px;
      border: 1px solid $secondary-color;
      color: black;
      @include easeInOut();
      &:hover,
      &:focus-within {
        color: white;
        background: black;
      }
    }
  }
  .share {
    padding: 30px 0;
    h5 {
      display: inline-block;
    }
    a {
      background: $primary-color;
      padding: 7px 11px;
      border-radius: 50%;
      @include easeInOut();
      i {
        color: #fff;
      }
      &:hover {
        background: white;
        border: 1px solid $primary-color;
        i {
          color: $primary-color;
        }
      }
    }
  }
  .logo__brand {
    display: flex;
    justify-content: center;
    text-align: -webkit-right;
  }
  .voreed {
    display: flex;
    align-items: center;

    i {
      padding-right: 35px;
      font-size: 30px;
      color: #4c4c4c;
    }
    p {
      font-size: 14px;
      font-weight: 700;
      font-family: sans-serif;
    }
  }

  .banner {
    position: relative;
    &:hover::after {
      opacity: 1;
    }
  }
  .banner::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    @include easeInOut();
  }
}
// end of headest section

// start to style main section
#main {
  color: darken($secondary-color, 30);
  .nav-link {
    color: black;
    font-weight: 700;
  }
  h3,
  h5 {
    color: black;
  }
  #myTabContent {
    padding: 40px 0;
  }
  .text {
    padding: 9px 50px;
    margin-bottom: 20px;
    border-color: $secondary-color;
  }
  button {
    padding: 9px 25px;
    margin-left: 10px;
    border-radius: 0;
    background: black;
  }
  ul li i {
    color: black;
    padding: 5px 10px;
    font-size: 12px;
  }
  .swiper-container_2 {
    width: 100%;
    // height: 80%;
    overflow: hidden;
  }
  .swiper-slide {
    // text-align: center;
    font-size: 18px;
    background: #fff;
    flex-direction: column;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // -webkit-justify-content: center;
    // justify-content: center;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // -webkit-align-items: center;
    // align-items: center;
  }
  .product__container {
    display: flex;
    justify-content: space-between;
    &:hover {
      a::after {
        opacity: 1;
      }
    }
    a {
      position: relative;
      width: 80px;
      height: 70px;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        @include easeInOut();
      }
    }

    i {
      font-size: 11px;
      cursor: pointer;
    }
    p {
      margin-bottom: 0;
      color: darken($secondary-color, 20) !important;
      font-size: 15px;
      cursor: pointer;
      @include easeInOut();
      &:hover {
        color: black !important;
      }
    }
    h4 {
      font-size: 18px;
      height: 10%;
    }
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 15px;
    color: black;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 42px;
  }
  .swiper-button-prev {
    left: 220px;
  }
  h6 {
    color: black;
    font-size: 14px;
    margin-bottom: 0;
    padding: 35px 0 20px;
  }
  .radio {
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }
  #reviews {
    th,
    td {
      padding: 10px;
    }
    label {
      color: black;
    }
    .lg_iput {
      padding: 5rem;
    }
  }
}
// end of main section

// start to style featured products  section
#featured__products {
  background: $secondary-color !important;
  height: 100vh !important;

  .swiper-container_3 {
    width: 100%;
    // height: 100%;
    overflow: hidden;
    position: relative;
  }
  .swiper-pagination {
    position: absolute !important;
  }
  .swiper-wrapper {
    // width: 500px;
    // overflow: hidden;
  }
  .swiper-pagination-bullet {
    width: 15px;
    background: black !important;
    height: 15px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: hidden;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
  }
}
// end of  featured products section
