@media screen and (max-width: 768px) {
  #home {
    svg + span {
      right: 246px;
      top: 355px;
    }
    .home__content {
      // background-position-y: -30px;
      background-position-x: right;
      // background-position-x: 860px;
      background-position-x: 65%;
      padding-top: 5rem;
      position: relative;
      .home__text {
        margin-top: 8rem;
      }
      .navbar-brand {
        width: 40px;
      }
      .over-lay {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($secondary-color, 0.4);
      }
    }
    .navbar-brand img {
      width: 50px;
    }
    .home__content .home__text {
      padding: 20px 5px;
      text-align: left;

      &::before {
        right: 10.8%;
        top: -28.5%;
      }

      h1,
      h2 {
        font-size: 3rem;

        &::after {
          right: 196px;
          bottom: 110px;
        }
      }
      button {
        margin-left: 150px;
      }
    }
    .ournav {
      padding: 3px 5px;
      .nav-link {
        padding-left: 0;
      }
      .arrow {
        display: none;
      }
      .features,
      .categories,
      .products,
      .pages,
      .links,
      .usd,
      .eng,
      .shop {
        position: initial;
      }
      .categories {
        margin-top: 0;

        span {
          right: -6px;
        }
        img {
          display: none;
        }
      }
      .products {
        margin-top: 0;
        h6 {
          font-size: 25px;
        }
        li {
          font-size: 10px;
          font-weight: 700;
          margin-bottom: 7px;
        }
      }
      svg {
        position: relative;
      }
      .shop {
        position: absolute;
        top: 416px;
        right: 105px;
        a {
          color: $primary-color;
        }
        img {
          width: 30px;
          height: 30px;
        }
        span {
          display: none;
        }
        p,
        a {
          font-size: 10px;
          padding-bottom: 0;
          margin-top: 0;
          margin-bottom: 12px;
        }
        hr {
          margin: 10px 0 3px;
        }
        button {
          padding: 3px 5px;
          font-size: 11px;
        }
        h6 {
          font-size: 13px;
        }
      }
      svg + span {
        display: none;
      }
      svg {
        position: relative;
      }
    }
  }

  // clothes section
  #clothes {
    .clothes__text {
      text-align: left;
      padding: 6rem 0;

      h4 {
        text-align: left;
        padding-left: 0;
      }
      h1 {
        padding-left: 0;
        font-size: 33px;
      }
      button {
        margin: auto;
        display: flex;
      }
    }

    .swiper-button-next {
      right: 10px;
      // transform: rotate(90deg);
    }

    .swiper-button-prev {
      left: 10px;
      // transform: rotate(1deg);
    }
  }

  .connect__content {
    padding: 0;
    background-position-x: -357px;
    text-align: center;
    align-items: flex-end;
    padding-bottom: 5rem;
    position: relative;
    padding-right: 15px;
    .connect__text {
      color: white;
      z-index: 1;
    }
    .over-lay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
    }
    h5::before,
    h2::after,
    button::after {
      background-color: white;
    }
  }

  footer {
    .about__us {
      // display: flex;
      // text-align: center;
    }
  }
  .newsletter {
    flex-direction: column;
    margin-bottom: 15px;
    align-items: start!important;

    h6 {
      margin-bottom: 8px!important;
    }
  }
}




@media screen and (max-width: 320px){
  #home {
    .ournav .shop {
      right: 12%;
      top: 80%;
      }
      
      .home__content {
        background-position-x: 70%;
        background-position-y: 0;
      }
      .home__content .home__text {

        &:before {
          right: 12.8%;
          top: -37%;
        }
      h1 {
        font-size: 2.3rem;
         &:after {
          right: 65.8%;
          bottom: 304%;
         }
      }
      h2 {
        font-size: 2rem;
      }
      button {
        margin-left: 90px;
      }
    
      }
    
  } 
    

  #clothes{
    background-position-x: 24% ;
  }
  #glasses {
    background-position-x: 73% !important ;
  }
  .clothes__text {

    h1 {
      padding-right: 0 !important;
      font-weight: 700;



    }
  }



  .connect__content {
  
    background-position-x: 35%; 
  }
  .connect__content .connect__text {
    // padding-right: 15px;

    h1 {
      font-size: 2.4rem;
    }
    button {
      margin-left: 9.5rem;
    }
     h5::before {
      bottom: 70%;
      left: 50.5%;
  }
  }

  }
   

