@media screen and (max-width: 768px) {
  #home {
    svg + span {
      right: 246px;
      top: 355px;
    }
    .home__content {
      background-position-x: right;
      background-position-x: 65%;
      position: relative;
      .home__text {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        text-align: left;
        padding: 0;
        h1 {
          text-shadow: 3px 5px 10px #290dc530;
          font-size: 4rem !important;
          padding: 0 1rem;
        }
        h2 {
          text-shadow: 3px 5px 18px #290dc530;
          font-family: serif;
          padding: 0 1rem;
        }
        button {
          margin: 0 auto;
          font-size: 22px;
          padding: 1.2rem 3rem;
          border-radius: 10px;
          box-shadow: inset 2px 2px 30px #290be459;
        }
      }
      .navbar-brand {
        width: 40px;
      }
      .over-lay {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($secondary-color, 0.4);
      }
    }
    .navbar-brand img {
      width: 50px;
    }
    .home__content .home__text {
      &::before {
        display: none;
      }

      h1,
      h2 {
        font-size: 3rem;

        &::after {
          display: none;
        }
      }
      button {
        // margin-left: 150px;
        &::after {
          display: none;
        }
      }
    }
    .ournav {
      padding: 3px 5px;
      .nav-link {
        padding-left: 0;
      }
      .arrow {
        display: none;
      }
      .features,
      .categories,
      .products,
      .pages,
      .links,
      .usd,
      .eng,
      .shop {
        position: initial;
      }
      .categories {
        margin-top: 0;

        span {
          right: -6px;
        }
        img {
          display: none;
        }
      }
      .products {
        margin-top: 0;
        h6 {
          font-size: 25px;
        }
        li {
          font-size: 10px;
          font-weight: 700;
          margin-bottom: 7px;
        }
      }
      svg {
        position: relative;
      }
      .shop {
        position: absolute;
        top: 416px;
        right: 105px;
        a {
          color: $primary-color;
        }
        img {
          width: 30px;
          height: 30px;
        }
        span {
          display: none;
        }
        p,
        a {
          font-size: 10px;
          padding-bottom: 0;
          margin-top: 0;
          margin-bottom: 12px;
        }
        hr {
          margin: 10px 0 3px;
        }
        button {
          padding: 3px 5px;
          font-size: 11px;
        }
        h6 {
          font-size: 13px;
        }
      }
      svg + span {
        display: none;
      }
      svg {
        position: relative;
      }
    }
  }

  // clothes section
  #clothes {
    .clothes__text {
      text-align: left;
      padding: 6rem 0;

      h4 {
        text-align: left;
        padding-left: 0;
      }
      h1 {
        padding-left: 0;
        font-size: 33px;
      }
      button {
        margin: auto;
        display: flex;
      }
    }

    .swiper-button-next {
      right: 10px;
      // transform: rotate(90deg);
    }

    .swiper-button-prev {
      left: 10px;
      // transform: rotate(1deg);
    }
  }

  .connect__content {
    padding: 0;
    background-position-x: -357px;
    text-align: center;
    align-items: flex-end;
    padding-bottom: 5rem;
    position: relative;
    padding-right: 15px;
    .connect__text {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 1;
      button {
        margin: 0 auto;
        font-size: 22px;
        padding: 1.2rem 3rem;
        border-radius: 10px;
        box-shadow: inset 2px 2px 30px #c1b8b0a3;
      }
    }
    .over-lay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
    }
    h5::before,
    h2::after,
    button::after {
      display: none;
    }
  }
  #clothes {
    background-position-x: -225px;
    height: 140vh;
  }
  .sunglasses {
    background-position-x: 850px !important;
    background-position-y: -50px !important;
    height: 140vh;
  }
  footer {
    
  }
  .newsletter {
    flex-direction: column;
    margin-bottom: 15px;
    align-items: start !important;

    h6 {
      margin-bottom: 8px !important;
    }
  }
  .pop-up .pop-up-content{
    width: 350px;
    height: 200px;
    padding: 10px;
    font-size: 13px;
  }
}
