* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.scrolltop {
  padding: 10px 13px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  right: 10px;
  bottom: 0;
  color: white;
  border-radius: 6px 6px 0 0;
  opacity: 0;
  z-index: 11111;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.scrolltop:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
}

.scrolltop.active {
  opacity: 1;
}

#home {
  background: #dfdedc;
  overflow: hidden;
}

#home .ournav {
  padding: 1rem 4.5rem 0;
  position: fixed;
  z-index: 111111111111;
  width: 100%;
  background-color: #dfdedc !important;
}

#home .ournav .nav-link {
  color: #161616;
  font-size: 12px;
  letter-spacing: -1px;
  font-weight: 500;
  padding-left: 1.5rem;
}

#home .fa-phone {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#home .home__content {
  background: url(../imgs/bg-1.jpg);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1200px;
  height: 570px;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 5rem;
  margin-top: 75px;
}

#home .home__content .home__text {
  padding: 6rem 9rem;
  position: relative;
  text-align: right;
}

#home .home__content .home__text::before {
  content: "";
  position: absolute;
  width: 10.5rem;
  height: 0.5rem;
  background: #161616;
  right: 150px;
  top: 28px;
}

#home .home__content .home__text h1,
#home .home__content .home__text h2 {
  padding: 0 3rem;
  color: #161616;
}

#home .home__content .home__text h1 {
  font-size: 4rem;
  font-weight: 800;
  font-family: "Metal Mania", cursive;
  position: relative;
}

#home .home__content .home__text h1::after {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 4.1rem;
  background: #161616;
  right: 168px;
  bottom: 70px;
}

#home .home__content .home__text h2 {
  font-weight: 400;
  font-size: 5rem;
}

#home .home__content .home__text button {
  padding: 1.2rem 2rem;
  position: relative;
  background-color: #161616;
}

#home .home__content .home__text button:hover {
  opacity: 0.9;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#home .home__content .home__text button::after {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 20rem;
  bottom: -1px;
  background: #161616;
  right: -1px;
}

#home .fa-angle-double-down {
  position: absolute;
  top: -27px;
  font-size: 14px;
  color: white;
  left: 102px;
}

#home .features,
#home .categories,
#home .products,
#home .pages,
#home .links,
#home .usd,
#home .eng,
#home .shop {
  position: absolute;
  background: white;
  z-index: 10000;
  display: none;
  -webkit-box-shadow: 8px 8px 50px 0px #cccac8;
          box-shadow: 8px 8px 50px 0px #cccac8;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#home ul li:nth-child(2):hover .categories {
  display: block;
}

#home .arrow {
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  top: -10px;
  left: 27px;
  width: 20px;
  height: 20px;
  z-index: -1;
  background: white;
}

#home .categories {
  max-width: 550px;
  max-height: 450px;
  top: 21px;
  padding-top: 15px;
  margin-top: 43px;
  padding-bottom: 5px;
}

#home .categories::before {
  content: "";
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#home .categories span {
  -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  background-color: #58ec58;
  font-size: 15px;
  padding: 2px 5px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 27px;
  font-size: 10px;
}

#home .categories ul span {
  -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  background-color: red;
  font-size: 15px;
  padding: 2px 5px;
  color: #fff;
  position: absolute;
  top: 27px;
  right: -1px;
  font-size: 9px;
}

#home img {
  width: 100%;
  height: 100%;
}

#home li {
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 5px;
  padding: 2px 4px;
  line-height: 17px;
  cursor: pointer;
}

#home li:hover {
  background-color: #dfdedc;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#home ul li:nth-child(3):hover .products {
  display: block;
}

#home .products {
  right: 0;
  top: 21px;
  padding-top: 15px;
  margin-top: 43px;
  padding-bottom: 5px;
}

#home .products .arrow {
  left: 170px;
}

#home .products ul span {
  padding: 5px;
  background: #d06c6b;
  border-radius: 50%;
  -webkit-box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

#home ul li:nth-child(4):hover .pages {
  display: block;
}

#home .pages {
  padding: 3px;
}

#home .pages li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home .pages li:hover ul {
  display: block;
}

#home .pages li i {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  color: #161616;
}

#home .pages li ul {
  position: absolute;
  z-index: 555555;
  top: 0;
  left: 114px;
  width: 140px;
  background: white;
  padding: 3px 4px 0;
  -webkit-box-shadow: 8px 8px 50px 0px #cccac8;
          box-shadow: 8px 8px 50px 0px #cccac8;
  display: none;
}

#home ul li:nth-child(5):hover .features {
  display: block;
}

#home .features {
  position: absolute;
  background: white;
  right: 425px;
  padding: 10px;
}

#home .features ul {
  padding: 5px 10px 10px 2px;
}

#home .features ul li {
  padding: 8px 12px;
}

#home ul li:nth-child(7):hover .links {
  display: block;
}

#home .links ul {
  padding: 3px 0;
}

#home .links ul li {
  padding: 5px 15px;
}

#home .links ul li:hover {
  color: white;
}

#home ul li:nth-child(8):hover .usd {
  display: block;
}

#home .usd {
  right: 225px;
}

#home .usd ul {
  padding: 3px 0;
}

#home .usd ul li:hover {
  color: white;
}

#home .usd .arrow {
  left: 5px;
}

#home ul li:nth-child(9):hover .eng {
  display: block;
}

#home .eng {
  right: 155px;
}

#home .eng ul {
  padding: 3px 0;
}

#home .eng ul li:hover {
  color: white;
}

#home .eng .arrow {
  left: 4px;
}

#home svg + span {
  background: #f15478;
  padding: 2px 5px;
  border-radius: 50%;
  position: absolute;
  right: 89px;
  top: 21px;
}

#home ul li:nth-child(10):hover .shop {
  display: block;
}

#home .shop {
  right: 60px;
  cursor: default;
}

#home .shop .col-6 {
  padding: 10px;
}

#home .shop .col-6 p,
#home .shop .col-6 a {
  padding-bottom: 12px;
  color: #161616;
}

#home .shop .arrow {
  top: -16px;
  left: 220px;
}

#home .shop span {
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px 2px;
  -webkit-box-shadow: -5px 4px 9px 1px #dfdedc;
          box-shadow: -5px 4px 9px 1px #dfdedc;
  position: absolute;
  top: 0;
  left: 80px;
  background: white;
  cursor: pointer;
}

#home .shop span ~ span {
  top: 80px;
}

#home .shop img {
  width: 40px;
  height: 40px;
  border: 1px solid #dfdedc;
  margin-bottom: 7px;
}

#clothes, #glasses {
  background: url("../imgs/bg-2.jpg");
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 120vh;
}

#clothes .clothes__text, #glasses .clothes__text, #clothes .glasses__text, #glasses .glasses__text {
  text-align: end;
  padding: 8rem 6rem;
}

#clothes .clothes__text h4, #glasses .clothes__text h4, #clothes .glasses__text h4, #glasses .glasses__text h4 {
  text-align: center;
  padding-left: 15.2rem;
  font-weight: 400;
  margin-bottom: 0;
}

#clothes .clothes__text h1, #glasses .clothes__text h1, #clothes .glasses__text h1, #glasses .glasses__text h1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 3rem;
}

#clothes .clothes__text button, #glasses .clothes__text button, #clothes .glasses__text button, #glasses .glasses__text button {
  padding: 12px 15px;
  background-color: #161616;
  margin-bottom: 20px;
}

#clothes .clothes__text button:hover, #glasses .clothes__text button:hover, #clothes .glasses__text button:hover, #glasses .glasses__text button:hover {
  opacity: 0.8;
}

#clothes .swiper-container .swiper-button-next, #glasses .swiper-container .swiper-button-next,
#clothes .swiper-container .swiper-button-prev,
#glasses .swiper-container .swiper-button-prev {
  font-size: 25px;
  color: #161616;
}

#clothes .swiper-slide, #glasses .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#clothes .card, #glasses .card {
  border: none;
}

#clothes .card i, #glasses .card i {
  font-size: 12px;
}

#clothes .card p, #glasses .card p {
  font-size: 15px;
  margin-bottom: 0;
}

#clothes .card p:hover, #glasses .card p:hover {
  font-weight: 600;
  cursor: pointer;
}

#clothes .card .add__to, #glasses .card .add__to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#clothes .card .add__to button, #glasses .card .add__to button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  font-size: 12px;
  padding: 10px;
  border: 1px solid #dfdedc;
}

#clothes .card .add__to i, #glasses .card .add__to i {
  border: 1px solid #dfdedc;
  padding: 10px;
  margin: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#clothes .card .add__to i:first-child, #glasses .card .add__to i:first-child {
  -webkit-transform-origin: right;
          transform-origin: right;
}

#clothes .card .over-lay, #glasses .card .over-lay {
  position: relative;
  width: 100%;
}

#clothes .card a::after, #glasses .card a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#clothes .card svg, #glasses .card svg {
  margin: 2px;
}

#clothes .card:hover i, #glasses .card:hover i {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#clothes .card:hover a::after, #glasses .card:hover a::after {
  display: block;
  -webkit-box-shadow: 0px 16px 28px -22px rgba(30, 30, 60, 0.84);
          box-shadow: 0px 16px 28px -22px rgba(30, 30, 60, 0.84);
}

#clothes .card:hover button, #glasses .card:hover button {
  background-color: #161616;
  color: white;
}

#clothes .swiper-button-next:after, #glasses .swiper-button-next:after,
#clothes .swiper-container-rtl .swiper-button-prev:after,
#glasses .swiper-container-rtl .swiper-button-prev:after,
#clothes .swiper-button-prev:after,
#glasses .swiper-button-prev:after,
#clothes .swiper-container-rtl .swiper-button-next:after,
#glasses .swiper-container-rtl .swiper-button-next:after {
  font-size: 20px;
}

#clothes .swiper-button-next, #glasses .swiper-button-next {
  right: 0px;
}

#clothes .swiper-button-prev, #glasses .swiper-button-prev {
  left: 0px;
}

.sunglasses {
  background: url("../imgs/bg-3.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.glasses__text {
  text-align: start !important;
}

.glasses__text h4 {
  text-align: left !important;
  padding-left: 0 !important;
}

.connect__content {
  background: url(../imgs/bg-4.jpg);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 98.7vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 12rem;
}

.connect__content .connect__text {
  padding-top: 5rem;
}

.connect__content .connect__text h5 {
  margin-bottom: 0;
  font-weight: 400;
  position: relative;
}

.connect__content .connect__text h5::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 90px;
  background-color: black;
  bottom: 21px;
  left: 190px;
}

.connect__content .connect__text h2 {
  text-align: center;
  font-weight: 700;
  position: relative;
}

.connect__content .connect__text h2::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 7px;
  background: black;
  bottom: 198px;
  right: 0;
}

.connect__content .connect__text button {
  padding: 15px 20px;
  margin-left: 12rem;
  margin-top: 2rem;
  position: relative;
  background-color: black;
}

.connect__content .connect__text button::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 300px;
  background: black;
  right: -2px;
  bottom: 0;
  border-radius: 5px;
}

#footer {
  background: rgba(0, 0, 0, 0.88);
  padding: 3rem 0;
}

#footer h5,
#footer h6 {
  color: white;
  margin-bottom: 0;
}

#footer h6 {
  display: inline-block;
}

#footer h5 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 8px;
}

#footer p,
#footer a {
  color: #d3d1cf;
  display: inline-block;
  font-size: 13px;
}

#footer a:hover {
  color: white;
}

#footer i {
  padding: 1rem;
  color: white;
}

#footer i:hover {
  border: 1px solid #dfdedc;
  padding: 10px;
  background: #161616;
}

#footer form {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
}

#footer form input:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 7px 10px;
}

#footer form input:nth-child(1):focus {
  outline: 0;
  -webkit-box-shadow: 100px 0px 20px -12px blue;
          box-shadow: 100px 0px 20px -12px blue;
}

#footer form .btn {
  background-color: black;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 7px 10px;
}

#footer .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  #home svg + span {
    right: 246px;
    top: 355px;
  }
  #home .home__content {
    background-position-y: -30px;
    background-position-x: right;
    background-position-x: 860px;
    padding-top: 5rem;
    position: relative;
  }
  #home .home__content .home__text {
    margin-top: 8rem;
  }
  #home .home__content .navbar-brand {
    width: 40px;
  }
  #home .home__content .over-lay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(223, 222, 220, 0.4);
  }
  #home .navbar-brand img {
    width: 50px;
  }
  #home .home__content .home__text {
    padding: 20px 5px;
    text-align: left;
  }
  #home .home__content .home__text::before {
    right: 40px;
    top: -106px;
  }
  #home .home__content .home__text h1,
  #home .home__content .home__text h2 {
    font-size: 3rem;
  }
  #home .home__content .home__text h1::after,
  #home .home__content .home__text h2::after {
    right: 196px;
    bottom: 110px;
  }
  #home .home__content .home__text button {
    margin-left: 150px;
  }
  #home .ournav {
    padding: 3px 5px;
  }
  #home .ournav .nav-link {
    padding-left: 0;
  }
  #home .ournav .arrow {
    display: none;
  }
  #home .ournav .features, #home .ournav .categories, #home .ournav .products, #home .ournav .pages, #home .ournav .links, #home .ournav .usd, #home .ournav .eng, #home .ournav .shop {
    position: initial;
  }
  #home .ournav .categories {
    margin-top: 0;
  }
  #home .ournav .categories span {
    right: -6px;
  }
  #home .ournav .categories img {
    display: none;
  }
  #home .ournav .products {
    margin-top: 0;
  }
  #home .ournav .products h6 {
    font-size: 25px;
  }
  #home .ournav .products li {
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 7px;
  }
  #home .ournav svg {
    position: relative;
  }
  #home .ournav .shop {
    position: absolute;
    top: 416px;
    right: 105px;
  }
  #home .ournav .shop a {
    color: #161616;
  }
  #home .ournav .shop img {
    width: 30px;
    height: 30px;
  }
  #home .ournav .shop span {
    display: none;
  }
  #home .ournav .shop p, #home .ournav .shop a {
    font-size: 10px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 12px;
  }
  #home .ournav .shop hr {
    margin: 10px 0 3px;
  }
  #home .ournav .shop button {
    padding: 3px 5px;
    font-size: 11px;
  }
  #home .ournav .shop h6 {
    font-size: 13px;
  }
  #home .ournav svg + span {
    display: none;
  }
  #home .ournav svg {
    position: relative;
  }
  #clothes .clothes__text, #glasses .clothes__text, #clothes .glasses__text, #glasses .glasses__text {
    text-align: left;
    padding: 6rem 0;
  }
  #clothes .clothes__text h4, #glasses .clothes__text h4, #clothes .glasses__text h4, #glasses .glasses__text h4 {
    text-align: left;
    padding-left: 0;
  }
  #clothes .clothes__text h1, #glasses .clothes__text h1, #clothes .glasses__text h1, #glasses .glasses__text h1 {
    padding-left: 0;
    font-size: 35px;
  }
  #clothes .clothes__text button, #glasses .clothes__text button, #clothes .glasses__text button, #glasses .glasses__text button {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #clothes .swiper-button-next, #glasses .swiper-button-next {
    right: 10px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #clothes .swiper-button-prev, #glasses .swiper-button-prev {
    left: 10px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .connect__content {
    padding: 0;
    background-position-x: -357px;
    text-align: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 5rem;
    position: relative;
  }
  .connect__content .connect__text {
    color: white;
    z-index: 1;
  }
  .connect__content .over-lay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .connect__content h5::before,
  .connect__content h2::after,
  .connect__content button::after {
    background-color: white;
  }
}
/*# sourceMappingURL=main.css.map */